/* ######### Drop Down ULs CSS ######### */

.ddsubmenustyle,
.ddsubmenustyle ul {
    /*topmost and sub ULs, respectively*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    list-style-type: none;
    background: white;
    border: 1px solid #D8D6D7;
    border-bottom-width: 0;
    visibility: hidden;
    z-index: 100;
}

.ddsubmenustyle li a {
    display: block;
    width: 225px;
    /*width of menu (not including side paddings)*/
    color: white;
    background-color: #D8311E;
    text-decoration: none;
    padding: 4px 5px;
    border-bottom: 1px solid #D8D6D7;
}

* html .ddsubmenustyle li {
    /*IE6 CSS hack*/
    display: inline-block;
    width: 235px;
    /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover {
    background-color: #F8F6F7;
    color: black;
}

.ddsubmenustyle1,
.ddsubmenustyle1 ul {
    /*topmost and sub ULs, respectively*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    list-style-type: none;
    background: black;
    border: 1px solid #D8D6D7;
    border-bottom-width: 0;
    visibility: hidden;
    z-index: 100;
}

.ddsubmenustyle1 li a {
    display: block;
    width: 225px;
    /*width of menu (not including side paddings)*/
    color: black;
    background-color: #F8F6F7;
    text-decoration: none;
    padding: 4px 5px;
    border-bottom: 1px solid #D8D6D7;
}

* html .ddsubmenustyle1 li {
    /*IE6 CSS hack*/
    display: inline-block;
    width: 235px;
    /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle1 li a:hover {
    background-color: #D8311E;
    color: white;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer {
    /*CSS for "down" arrow image added to top menu items*/
    padding-left: 4px;
    border: 0;
}

.rightarrowpointer {
    /*CSS for "right" arrow image added to drop down menu items*/
    position: absolute;
    padding-top: 3px;
    left: 100px;
    border: 0;
}

.ddiframeshim {
    position: absolute;
    z-index: 500;
    background: transparent;
    border-width: 0;
    width: 0;
    height: 0;
    display: block;
}