/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    list-style-type: none;
    border-bottom: 0px solid gray;
    background: #D8311E;
    overflow: hidden;
    width: 100%;
}

.mattblackmenu li {
    display: inline;
    margin: 0;
}

.mattblackmenu li a {
    float: left;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 6px 8px;
    /*padding inside each tab*/
    border-right: 1px solid white;
    /*right divider between tabs*/
    color: white;
    background: #D8311E;
}

.mattblackmenu li a:visited {
    color: white;
}

.mattblackmenu li a:hover {
    color: F9C001;
}

.mattblackmenu a.selected {
    color: #F9C001;
}